@import "tailwindcss";

/* Opcional: Configuração para o Inter */
:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Reset básico para garantir que o Electron ocupe a tela toda */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; 
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* --- LOGICA DE IMPRESSÃO --- */
@media print {
  /* Esconde tudo o que está na tela (Sidebar, Header, Botões) */
  body * {
    visibility: hidden;
  }

  /* Torna apenas a div de impressão visível */
  #print-area, #print-area * {
    visibility: visible;
  }

  /* Posiciona o cupom no topo para não sair cortado */
  #print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

/* Estilização da scrollbar para manter o visual Dark moderno */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #2A2A2A;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3A3A3A;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #22C55E;
}